<div class="example-container" >
    <form class="example-form">
        <div fxLayout="row" >   
            <mat-form-field fxFlex="600" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
</div>

<div fxLayout="row"  > 


    <mat-form-field  appearance="fill">
        <mat-label>Mobile</mat-label>
        <input matInput>
      </mat-form-field>
</div>
<div fxLayout="row"  >   
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
</div>


<div fxLayout="row" > 
    <mat-label>Are you Vaccinated?</mat-label> 
<mat-radio-group (change)="radioChange($event)" aria-label="Select an option">
    <mat-radio-button value="Yes">Yes</mat-radio-button>
    <mat-radio-button value="No">No</mat-radio-button>
  </mat-radio-group>
</div>
<br>

<div fxLayout="row" *ngIf="hidden">
    <mat-form-field appearance="fill">
        <mat-label>Vaccine Name</mat-label>
        <mat-select name="Vaccine Name">
          <mat-option *ngFor="let name of vaccineName" [value]="selectedVaccineName">
            {{name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div fxLayout="row" *ngIf="hidden"> 
    <mat-label>How many Doses?</mat-label> 
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">1</mat-radio-button>
    <mat-radio-button value="2">2</mat-radio-button>
  </mat-radio-group>
</div>
<br>
<div fxLayout="row"> 
<button mat-raised-button color="primary">Save</button>

</div>  
    
     
  
  </form>

</div>
  

