<!-- <i class="fa fa-times fa-5x" style="color: #dc3545;" aria-hidden="true"></i> -->
<!-- <i class="fa fa-times-circle fa-5x" style="color: #dc3545;" aria-hidden="true"></i> -->
<h2 mat-dialog-title >Do you really want to delete this record?</h2>
<!-- <mat-dialog-content>Do you really want to delete this record?</mat-dialog-content> -->
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close class="btn btn-danger"> <i style="padding-right: 5px;"class="fa fa-trash-o fa-lg"></i>Delete</button>
</mat-dialog-actions>
