table{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
mat-paginator{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.blue-snackbar{
    background-color: green;
}

