
<mat-spinner *ngIf="spinnerflag" style="margin:0 auto;margin-top: 100px;"></mat-spinner>

  <!-- ----------------------------------------------------------------------------------- -->
  <table *ngIf="!spinnerflag" mat-table [dataSource]="userDatasource" class="mat-elevation-z8">
    <!-- If response returned is empty. Print user -->
    
     
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
<form [formGroup]="editForm" autocomplete="off" (ngSubmit)="OnSubmit()">
    <ng-container matColumnDef="No"> 
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{(paginator.pageIndex * paginator.pageSize)+ i+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td  mat-cell *matCellDef="let element; let i = index;"> <span *ngIf="!isEditMode(i+1)">{{element.name}}</span>
        <span class="d-flex flex-column" *ngIf="isEditMode(i+1)">
          <input class="form-control form-control-sm" type="text" size="10" formControlName="name" > 
          <mat-error *ngIf="editForm.controls.name.errors?.required">
            {{errorMessages?.name?.required}}
        </mat-error>
        <mat-error *ngIf="editForm?.controls?.name?.errors?.minlength">
            {{errorMessages?.name?.minlength}}
      </mat-error>
      <mat-error *ngIf="editForm?.controls?.name?.errors?.pattern">
        {{errorMessages?.name?.pattern}}
  </mat-error>
        </span> 
      </td>
     
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td  mat-cell *matCellDef="let element; let i = index;"><span *ngIf="!isEditMode(i+1)">{{element.email}}</span>
        <span class="d-flex flex-column" *ngIf="isEditMode(i+1)">
          <input class="form-control form-control-sm" type="text" size="10" formControlName="email" >
          <mat-error *ngIf="editForm.controls.email.errors?.required">
            {{errorMessages?.email?.required}}
        </mat-error>
        <mat-error *ngIf="editForm?.controls?.email?.errors?.email">
            {{errorMessages?.email?.pattern}}
      </mat-error>
        </span>
      </td>
      </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td  mat-cell *matCellDef="let element; let i = index;"><span *ngIf="!isEditMode(i+1)">{{element.mobile}}</span>
        <span class="d-flex flex-column" *ngIf="isEditMode(i+1)">
          <input class="form-control form-control-sm" type="text" size="10" maxlength="10" formControlName="mobile" >
          <mat-error *ngIf="editForm.controls.mobile.errors?.required">
            {{errorMessages?.mobile?.required}}
        </mat-error>
          <mat-error *ngIf="editForm?.controls?.mobile?.errors?.minlength || editForm?.controls?.mobile?.errors?.maxlength ">
            {{errorMessages?.mobile?.length}}
      </mat-error>
      <mat-error *ngIf="editForm?.controls?.mobile?.errors?.pattern">
        {{errorMessages?.mobile?.pattern}}
  </mat-error>
        </span> 
       </td>
    </ng-container>

    

    <ng-container matColumnDef="Vaccinated">
      <th mat-header-cell *matHeaderCellDef> Vaccinated </th>
      <td  mat-cell *matCellDef="let element; let i = index;"><span *ngIf="!isEditMode(i+1)">{{element.isvaccinated?"Yes":"No"}}</span>
        <span  *ngIf="isEditMode(i+1)">
          <select  formControlName="isvaccinated" #selectValue (change)="chceckIsVaccinated(selectValue.value)"  class="form-select form-control-sm" aria-label="Default select example">
           <option *ngFor="let value of isvaccinatedList" [value]="value">{{value}}</option>
           
      </select></span>  </td>
    </ng-container>

    <ng-container matColumnDef="Vaccine Name">
      <th mat-header-cell *matHeaderCellDef> Vaccine Name </th>
      <td  mat-cell *matCellDef="let element; let i = index;"><span *ngIf="!isEditMode(i+1)">{{element.vaccinename==""?"NA":element.vaccinename}}</span> 
        <span  *ngIf="isEditMode(i+1) && isvaccinatedflag">
          <select formControlName="vaccinename"  class="form-select form-control-sm" aria-label="Default select example">
            <option value="" disabled>Select an option</option> 
            <option *ngFor="let value of vaccineNameList" [value]="value">{{value}}</option>
      </select>
      <mat-error *ngIf="editForm?.controls?.vaccinename?.errors?.required">
        {{errorMessages?.vaccinename?.required}}
       </mat-error>
       </span> 
      </td>
    </ng-container>

    <ng-container matColumnDef="Doses">
      <th mat-header-cell *matHeaderCellDef> Doses</th>
      <td  mat-cell *matCellDef="let element; let i = index;"><span *ngIf="!isEditMode(i+1)">{{element.noofdoses}}</span> 
        <span *ngIf="isEditMode(i+1) && isvaccinatedflag">
          <select formControlName="noofdoses" class="form-select form-control-sm" aria-label="Default select example">
            <option value="" disabled>Select an option</option> 
            <option *ngFor="let value of noofdosesList" [value]="value">{{value}}</option>
     </select>
     <mat-error *ngIf="editForm?.controls?.noofdoses?.errors?.required">
      {{errorMessages?.noofdoses?.required}}
     </mat-error> 
        </span>
         </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element; let i = index;"> 
      
        <button *ngIf="!editmode || !isEditMode(i+1)"  type="button" (click)="setEditMode(i+1,element)"   class="btn btn-success btn-sm"  matTooltip="Edit" matTooltipPosition="below">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit
        </button>

        <button *ngIf="isEditMode(i+1)" [disabled]="!editForm.valid" type="button" (click)="saveData()"   class="btn btn-success btn-sm"  matTooltip="Save" matTooltipPosition="below">
          <i class="fa fa-save"></i>
          Save
        </button>
        <button *ngIf="!editmode || !isEditMode(i+1) " type="button" (click)="OnDelete(element.id)" matTooltip="Delete" matTooltipPosition="below" (click)="openDialog()" class="btn btn-danger btn-sm" style="margin-left: 1rem;">
          <i class="fa fa-times" aria-hidden="true"></i>
          Delete
        </button> 

        <button *ngIf="isEditMode(i+1)" type="button" (click)="disableEditMode()" matTooltip="Close" matTooltipPosition="below"  class="btn btn-danger btn-sm" style="margin-left: 1rem;">
          <i class="fa fa-window-close"></i>
         
          Close
        </button> 
      </td>
    </ng-container>
  </form>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <mat-error *ngIf="dataSource.length === 0" style="align-items: center;">
       There is no data.      
    </mat-error>
    
  </table>
  <mat-paginator #paginator [length]="length" [pageSizeOptions]="[5, 10, 25, 100]"   [pageSize]="10" showFirstLastButtons="true"></mat-paginator>
 